body{
	width: 100%;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	margin: auto;

}
header{
	background-color: rgb(128,128,128);
	margin: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	margin-bottom: 0px;
}
.carous{
	z-index: 0;
	margin-bottom: 15px;
	position: relative;
	padding-left: 2%; 
	padding-right: 2%;
	margin-top: 8%;
}
#carouselChoice img{
	height: 500px;
}
header h1, header h2{
	width: 30%;
	display: inline-block;
	font-style: italic;
	margin-left: 25px;
	font-family: "Permanent Marker";
}
nav{
	width: 50%;
	display: inline-block;
	padding-top: 0em;
	margin-left: 12%;
}
nav ul{
	list-style-type: none;
	text-align: right;
	width: 95%;
}
nav ul li a{
	text-decoration: none;
	color: rgb(0,0,121);
	font-family: "Permanent Marker";
}
nav ul li{
	display: inline-block;
	margin: 1.2em;
	/*border-radius: 10px;
	border: solid 1px white;
	background-color: rgb(0,255,64);
	color: white;
	padding: 10px;*/
	font-weight: bold;
	font-size: 1.2em;

}
nav ul li a:visited{
	text-decoration: none;
}
.actif{
	border: solid 1px blue;
	background-color: rgb(0,0,121);
	color: white;
	padding: 7px;
	border-radius: 5px;
}
nav ul li a:hover{
	border: solid 1px blue;
	/*background-color: blue;*/
	color: white;
	padding: 7px;
	border-radius: 5px;
}
footer{
	background-color: rgb(128,128,128);
	padding: 10px;
	margin-left: 0px;
}
.projet{
	width: 40%;
	display: inline-block;
	margin-left: 10%;
	vertical-align: top;
}
.real{
	width: 32%;
	margin-left: 15%;
	display: inline-block;
	vertical-align: top;
}
footer h2{
	color: yellow;
}
footer a{
	text-decoration: none;
	color: blue;
}
footer li{
	margin: 5%;
}
.bas{
	text-align: center;
	color: yellow;
	font-style: italic;
	margin-bottom: 10px;
	border: solid 2px black;
	font-size: 1.3em;
}
.fam{
	background-color: rgb(65,65,65);
	border-radius: 15px;
	box-shadow: 10px 10px 15px rgb(65,65,65);
	margin: auto;
	padding: 5px;
	margin-bottom: 5%;
	width: 80%;
	color: white;
}
.fam h2{
	background-color: rgb(65,65,65);
	color: yellow;
	font-weight: bold;
	margin: 15px;
	padding: 10px;
	text-align: center;
}
.img2{
	width: 100%;
	min-height: 200px;
}
.fp{
	display: inline-block;
	margin-left: 5%;
	
	max-width: 30%;
	min-height: 50px;
	vertical-align: middle;
}
.texte{
	width: 50%;
	min-height: 50%;
	text-align: justify;
	margin-right: 2%;
	margin-left: 5%;
	display: inline-block;
	vertical-align: middle;
}
section{
	margin-top: 5vh;
	font-size: 1.3em;
	margin-bottom: 20vh;
}
#nav1{
	display: none;
}
.imagebas{
	text-align: center;
}
.imagebas p{
	width: 30%;
	display: inline-block;
	margin-right: 2%;
}
.imagebas img{
	border-radius: 100%;
	width: 60%;
}
.voirIm{
	margin-top: 5%;
}
.voirIm h2{
	color:;
	margin-left: 5%;
}
.voir{

}
@media (max-width: 60em){
	#nav1{
		display: block;
		width: 100%;
		margin-left: 0;
	}
	#nav2{
		display: none;
	}
	header h1{
		display: none;
	}
	nav ul li{
		display: block;
		margin: 1em;
		font-weight: bold;
		font-size: 1.2em;
		text-align: left;
	}
	nav ul{
		border-bottom-style: none;

	}
	nav{
		padding: 0.5em;
	}
	.fp, .texte{
		display: block;
		margin: 1.2em;
		width: 90%;
	}
	.fp{
		text-align: center;
		margin-left: 30%;
	}
	.img2{
		width: 100%;

	}
	section{
		margin-top: 0vh;
	}
	.fam h2{
		font-size: 1.2em;
		
	}
}
@media (max-height: 40em){
	.img{
		margin-top: 10vh;
	}
	section{
	/*margin-top: 48vh;*/
	font-size: 1.3em;
	}
}
